# ETL, Analysis, and Visualization

**Nicolás Gallardo**

# Index

- [Abstract](#Abstract)
- [1. Introduction](#1.-Introduction)
- [2. Extract-Transform-Load](#2.-Extract-Transform-Load)
    - [2.1 The ETL Process](#2.1-The-ETL-Process)
    - [2.2 Data Exploration](#2.2-Data-Exploration)
    - [2.3 Data Preparation](#2.3-Data-Preparation)
    - [2.4 Read the Data Using Python](#2.4-Reading-the-Data-Using-Python)
         - [2.4.1 Reading Sample Data](#2.4.1-Reading-Sample-Data)
         - [2.4.2 Reading the MRST Data](#2.4.2-Reading-the-MRST-Data)
    - [2.5 Writing an Installation Script](#2.5-Writing-an-Installation-Script)
- [3. Analysis and Visualization](#3.-Project-Description)
    - [3.1 Running Queries in MySQL Workbech](#3.1-Running-Queries-in-MySQL-Workbech)
    - [3.2 Running Queries From Python](#3.2-Running-Queries-From-Python)
    - [3.3 Explore Trends](#3.3-Explore-Trends)
    - [3.4 Explore Percentage Change](#3.4-Explore-Percentage-Change)
    - [3.5 Explore Rolling Time Windows](#3.5-Explore-Rolling-Time-Windows)
- [Conclusion](#Conclusion)
- [References](#References)

[Back to top](#Index)


##  Abstract

This is a brief description (150 words or less) of your analysis and the results of your model. Complete this portion of the template after you are done working on your project.

[Back to top](#Index)


## 1. Introduction

Introduce your project using 300 words or less. Describe all the processes you followed to create your ETL, Analysis, and Visualization project. Start by summarizing the steps that you intend to perform and then elaborate on this section after you have completed your project.

[Back to top](#Index)

## 2. Extract-Transform-Load

For each of the sections below, include a description of the steps you followed. Whenever possible, include screenshots of your code or program windows to demonstrate your steps.

[Back to top](#Index)

### 2.1 The ETL Process

Describe, using your own words, the key steps to perform ETL on the provided MRTS dataset.

The key steps to perform ETL on the MRTS dataset are the following ones:

- Extracting the dataset into a dataframe using Pandas library, specifically the *read_excel* function. 
- Transforming the data into a structure similar to a predefined table of a database, using Pandas dataframes. This way, the data can be loaded easily into the table with the type structures needed.
- Loading the new transformed dataset into a database using a Python script.

[Back to top](#Index)

### 2.2 Data Exploration

Describe the MRTS dataset and the data that it contains. Feel free to do some research online to get more information about the dataset. This step is fundamental and it will help you with the development of your project.

This dataset is about the Monthly Retail Trade Sales of Food and Retail services from the US. The data is collected from the years 1992 to February 2021. This information comes officially from the webpage [Census](https://www.census.gov/), which is an agency of the U.S. Department of Commerce. 

The information contained in this dataset is of different Retail and Food sales for every month of the different years (except for 2021 which is not completed). The data is brought in million of dollars. It's also estimated and adjusted.

The dataset can be checked in the file inside the following route: */data/mrtsales92-present.xls*

[Back to top](#Index)

### 2.3 Data Preparation

Describe which modifications you want to perform on your dataset so that it’s ready for analysis. A few obvious ones are suggested in the video, but come up with at least one modification on your own as well.

The main modification that was implemented in the data was to get all the data into a single sheet. The dataset used had all the information divided into many sheets, depending on the year. This is not very practical when loading into a table in the database. So, the most important step was getting all the information from all the years into just one big file.

Another important step, was to get all the data cleaned, and just the information used into a CSV file. In other words, the only information that had to be loaded was the data itself, and the Excel file included a lot of notations titles that had to be removed. 

After getting the new dataset containing all the data within one page, another important steps were executed: removing NaN, ordering indexes, ordering format and type structure, etc. 

The whole extract and transformation steps can be found in the file */ETC(extraction-transformation.ipynb* which is a Jupyter Notebook dealing with all the steps commented.

[Back to top](#Index)

### 2.4 Read the Data Using Python

Describe briefly how Python can be used to read CSV files.

Python has a built-in function called open() which can be used to read different type of files (it also can be used to write into files). 

Then, the *CSV* library can be used to make the read of a CSV file easier.

[Back to top](#Index)

### 2.4.1 Reading Sample Data

Describe the sample dataset that you have defined to test your Python script to read CSV files and explain how you used Python to read it.

A sample data to test out the script was not used, instead, the transformed CSV file was implemented directly into the database.

[Back to top](#Index)

### 2.4.2 Reading the MRTS Data

Describe how to read the MRTS CSV file using a Python script.

The data was read using the following script:


```
# The CSV file is read to load it into the database.
with open("data/transformedmrtsales92-present.csv", mode='r') as csv_data:
    reader = csv.reader(csv_data, delimiter=',')
```

[Back to top](#Index)

### 2.5 Writing an Installation Script

Describe how you wrote a Python installation script to read your dataset in MySQL WorkBench.

The complete installation script to connect the database, create the table to use, read the CSV file and insert into the table the values of the CSV file was the following:

import mysql.connector
import csv

```  
# Connection is created with the database
con = mysql.connector.connect(user='root', password='1234', host='localhost', database='mit')
	
# A cursor is instanced
cursor = con.cursor()

# The table is dropped in case it exists.
cursor.execute("DROP TABLE IF EXISTS MRTS")

# A query is written to create the table within the database.
sql_query ='''CREATE TABLE MRTS(
   id VARCHAR(25) NOT NULL,
   id_group INT NOT NULL,
   business_description VARCHAR(100),
   date DATE NOT NULL,
   sales INT NULL,
   status VARCHAR(20) NOT NULL
  )'''

# The query is executed.
cursor.execute(sql_query)
print("Table created successfully")

cursor = con.cursor()

# The CSV file is read to load it into the database.
with open("data/transformedmrtsales92-present.csv", mode='r') as csv_data:
    reader = csv.reader(csv_data, delimiter=',')
    # The header is ignored when uploaded into the database.
    next(reader, None)
    csv_data_list = list(reader)
    for row in csv_data_list:
      # The NaN values, converted by Pandas into an empty string, are specified as None values into the database.
      for i in range(len(row)):
          if row[i] == '':
              row[i] = None        
      # The query that inserts the dataset into the database is executed.
      cursor.execute("""
                  INSERT INTO MRTS(
                  id, id_group, business_description, date, sales, status)
                  VALUES(%s,%s,%s,%s,%s,%s)""",
                  (row[0], row[1], row[2], row[3], row[4], row[5]))
con.commit()
cursor.close()
con.close()
print("Done")
```

The script can be found in the route */ETL(load).py*


[Back to top](#Index)

## 3. Analysis and Visualization

For each of the sections below, make sure you include a description of the steps you followed. Whenever possible, include screenshots of your code or program windows to demonstrate your steps.

Here, describe the differences, advantages, and disadvantages of running *queries* against your dataset using the MySQL Workbench or a Python environment.

[Back to top](#Index)

### 3.1 Running Queries in MySQL Workbech

Describe which *queries* you ran against the MRTS dataset in MySQL Workbench to verify that everything worked as expected.

The following queries were used to check if the data was loaded correctly:

```
USE mit;
SELECT COUNT(*)
FROM mrts;
```
This one was used to verify if all the rows were added into the table, which were 20301 rows. The result of this query is 20300, which is right because the header was ignored when inserting the data.

The second query used was the following:

```USE mit;
SELECT * FROM mrts
WHERE  status = "NaN";
```
This query was used to check if the NaN values of Sales were correctly inserted as NULL, which was shown in the workbench.

These queries can be checked in the route */SQL Queries/3.1/*

[Back to top](#Index)

### 3.2 Running Queries From Python

Describe how you tested the previous *queries* on the the MRTS dataset using a Python script and the Terminal window.

The queries were tested using the *mysql.connector* library. Then, the queries were run in the terminal with the python command.

They were successful as they gave the same results as the SQL ones in the workbench.

The queries were the following ones: 

```import mysql.connector

  
# Connecting with MySql
con = mysql.connector.connect(user='root', password='1234', host='localhost', database='mit')
	
# Using cursor() method to create cursor object
cursor = con.cursor()

sql = ("""
SELECT * FROM mrts
WHERE  status = "NaN";
""")
cursor.execute(sql)
for row in cursor.fetchall():
    print(row)

cursor.close()
con.close()

----------------------------

import mysql.connector

  
# Connecting with MySql
con = mysql.connector.connect(user='root', password='1234', host='localhost', database='mit')
	
# Using cursor() method to create cursor object
cursor = con.cursor()

sql = ("""
SELECT COUNT(*)
FROM mrts;
""")
cursor.execute(sql)
for row in cursor.fetchall():
    print(row)

cursor.close()
con.close()
```

The queries can be found in the route */Python Queries/3.2/*

[Back to top](#Index)

### 3.3 Explore Trends

Describe which *queries* you wrote the explore the differences in trends between various categories in your data.

In your submission make sure to answer the following:

- What is an economic trend and why is it considered an important measure to predict quantities, like spending patterns?
- What is the trend of the retail and food services categories? Can this data be displayed clearly or do you need to adjust some parameters to reduce extraneous details and be able to visualize a clean trend?
- When comparing businesses like bookstores, sporting goods stores, and hobbies, toys, and games stores, what is the highest trend of all of these options? Which one grew faster? Which one is higher? Is there a seasonal pattern? Were there any changes in 2020? Which is better, monthly or yearly?

a) The following definition can be found in this [article](https://www.bartleby.com/subject/business/concepts/economic-trends):
>An economic trend is the long-term direction of an economy. The trend can go up, down, or sideways. An upward trend means the economy is growing and wages are rising. A downward trend means the economy is shrinking and unemployment is increasing. A sideways trend means the economy is neither growing nor shrinking.

b) To get the data plotted for this question, the next code was used:

```
import mysql.connector
import matplotlib.pyplot as plt
  
# Connecting with MySql
con = mysql.connector.connect(user='root', password='1234', host='localhost', database='mit')
	
# Using cursor() method to create cursor object
cursor = con.cursor()

# The query is written
sql = ("""SELECT date, SUM(sales) FROM mrts
WHERE id = "722" AND date like "%-01-%"
GROUP BY date;""")
cursor.execute(sql)

# The information brought by the query is fetched into the following variables:
year1 = []
sales1 = []
for row in cursor.fetchall():
    year1.append(row[0])
    sales1.append(row[1])

# The query is written
sql = ("""SELECT date, SUM(sales) FROM mrts
WHERE id_group = "452" AND date LIKE "%-01-%"
GROUP BY date""")
cursor.execute(sql)

# The information brought by the query is fetched into the following variables:
year2 = []
sales2 = []
for row in cursor.fetchall():
    year2.append(row[0])
    sales2.append(row[1])

cursor.close()
con.close()

# A graph showing the data is plotted.
plt.plot(year1, sales1, label="Food Services")
plt.plot(year2, sales2, label="Retail Services")

plt.xlabel('Year')
plt.ylabel('Sales in Millions of Dollars')
plt.title("Food Services vs Retail Services Trends")


plt.legend()

plt.show()
```

Resulting in the next image: 
![hi](/assets/images/figure_1.png)

[Back to top](#Index)

### 3.4 Explore Percentage Change

Describe which *queries* you wrote to explore the differences in trends between various categories in your data.

In your submission make sure to answer the following:

- In economics, what is the percentage change and why is it considered an important measure to predict quantities like spending patterns?
- Consider the women's clothing and men's clothing businesses and their percentage change. How are these two businesses related? For each of the two businesses, what is the percentage of contribution to the whole and how does it change over time?

[Back to top](#Index)

### 3.5 Explore Rolling Time Windows


Describe which *queries* you wrote to explore the differences in trends between various categories in your data.

In your submission, make sure to answer the following:

- In economics, what is the rolling time window and why is it considered an important measure to predict quantities like spending patterns?
- Consider at least two businesses of your own from the MRTS data. Which *queries* did you write to analyze and produce graphs of rolling time windows for the chosen categories?

[Back to top](#Index)

## Conclusion

Describe your conclusions. Which one of the businesses considered seems like it's going to attract the least spending? Which business seems likely to attract the most spending?


[Back to top](#Index
)
## References

Add all references you used to complete this project.

Use this format for articles:
- Author Last Name, Author First Name. “Article Title.” Journal Title Volume #, no. Issue # (year): page range.

- Ex: Doe, John. “Data Engineering.” Data Engineering Journal 18, no. 4 (2021): 12-18.

Use this format for websites:
- Author Last Name, Author First Name. “Title of Web Page.” Name of Website. Publishing organization, publication or revision date if available. Access date if no other date is available. URL .

- Doe, John. “Data Engineering.” Data Engineer Resource. Cengage, 2021. www.dataengineerresource.com .